@use './../../sass/variables'

#containerCart
   border-radius: 1rem
   border: 6px solid variables.$button
   padding:1rem
   max-width: 30rem
   max-height: 31rem
   display: flex
   flex-direction: column
   text-align: center
   img 
    border-radius: 1rem
    width: 60px
    height: 70px
   

