#containerProdutos
   padding: 1rem
   margin: 2rem
   box-sizing: border-box
   display: grid
   justify-content: center
   flex-wrap: wrap
   grid-template-columns: 370px 370px
   gap: 80px
   @media (max-width: 800px) 
    grid-template-columns: 340px
  
   h1 
    margin-bottom: 0.5rem
    font-size: 20px
    .texto 
    text-align: start
    margin-top: 5rem
