@use './../../sass/variables'

#containerAbout
   padding: 1rem
   margin: 3rem
   display: flex
   flex-direction: row
   align-content: space-between
   justify-content: center
   h1 
    margin-bottom: 0.5rem
    font-size: 20px
   img 
    width: 30rem
    border-radius: 1rem
    margin-left: 5rem
   p 
    width: 30rem
.texto
    text-align: end
    margin-top: 5rem
    padding: 1rem
    
    
