@use './../../sass/variables'
#containerItem
   padding: 1rem
   margin: 1rem
   display: flex
   flex-direction: row
   img 
    border-radius: 1rem
    width: 200px
    height: 180px
    
.alinhamentoButton
.sobreProduto
   margin-left: -3rem
   margin-top: -3.5rem
   border-radius: 1rem
   border: 6px solid variables.$button
   padding: 0.5rem
   height: 100%
   display: flex
   justify-content: start
   flex-direction: column
   width: 16rem
   strong 
    margin-bottom: 0.4rem
   button
      width: 10rem
.containerButton
      display: flex
      flex-direction: column
