#body
   padding: 1rem
   margin: 3rem
   display: flex
   flex-direction: row
   align-content: space-between
   justify-content: center
   flex-wrap: wrap
   img 
    max-width: 30rem
   h1 
    margin-bottom: 0.5rem
    font-size: 20px
   .texto 
    text-align: start
